!!! 5
-# Set path to CSS
- rhDocsCssPath = '/static/rhdocs.css'
- pantheonCssPath = '//access.redhat.com/webassets/avalon/j/public_modules/node_modules/@cpelements/cp-documentation/dist/rhdocs.min.css'

- if (@document.attr :pantheonenv) == 'localwebassets'
  - rhDocsCssPath = '/dev-preview/rhdocs.css'
  - pantheonCssPath = '/dev-preview/pantheon.css'

- wrappingTag = 'cp-documentation'
-# - if (@document.attr :pantheondoctype) == 'assembly'
-#   - wrappingTag = 'div'

%html{:lang=>(attr :lang, 'en')}
  %head
    %meta(charset="#{attr :encoding, 'UTF-8'}")
    /[if IE]
      %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='generator' content="Asciidoctor #{attr 'asciidoctor-version'}")
    - { 'app-name'=>'application-name', 'description'=>nil, 'keywords'=>nil, 'authors'=>'author', 'copyright'=>nil }.each do |key, meta|
      - if attr? key
        %meta{:name=>(meta || key), :content=>(attr key)}

    %title=((doctitle :sanitize => true) || (attr 'untitled-label'))
    %link(rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css")

    %link(rel="stylesheet" href=pantheonCssPath )
    %link(rel="stylesheet" href=rhDocsCssPath )


    - if (@document.attr :pantheonenv) == 'localwebassets'
      %script(src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.3.0/custom-elements-es5-adapter.js")
      %script(src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.3.0/webcomponents-bundle.js")
      %script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js")
      %script(type="module" src="/node_modules/@cpelements/cp-documentation/dist/cp-documentation.js")

    - else
      - # Dummy cp chrome code
      :javascript
        window.portal = {
          analytics : {},
          host      : "https://access.redhat.com",
          idp_url   : "https://sso.redhat.com",
          lang      : "en",
          version   : "7b09880",
          builddate : "2020-06-10T14:50:01.831Z",
          fetchdate : "2020-06-10T14:50:04-0400",
          nrid      : "14615289",
          nrlk      : "2a497fa56f"
        };
      %script(src="https://access.redhat.com/webassets/avalon/j/lib/require.js")
      :javascript
        chrometwo_require(["//access.redhat.com/webassets/avalon/j/public_modules/node_modules/@cpelements/cp-documentation/dist/cp-documentation.umd.js"]);

    :javascript
      window.addEventListener('load', function() {
        var cpDocumentations = document.querySelectorAll('cp-documentation');
        for (let index = 0; index < cpDocumentations.length; index++) {
          const cpDocumentation = cpDocumentations[index];
          cpDocumentation.setAttribute('pfe-c-non-prod', '');
        }
      });

  %body{:id => @id, :class=>[doctype, 'pantheon-render', 'rhdocs', ((attr? :toc) && (attr? 'toc-placement', 'auto') ? "has-toc toc-#{attr 'toc-position', 'left'}" : nil)]}
    -# Begin main document

    -# %cp-documentation#rhdocs.rhdocs
    - haml_tag wrappingTag do
      - unless noheader
        -# Set some simple vars so our if statements aren't gross
        - hasTitle = !(notitle) && (@header != nil) && (@header&.title != nil)
        - hasPrimaryHeaderWrapper = hasTitle || (attr? :pantheonproduct)
        - hasHeaderMetadata = (attr? :pantheonupdateddate) || (attr? :pantheonpublisheddate)

        -# Only print header if we have something to put in it
        - if hasPrimaryHeaderWrapper || hasHeaderMetadata
          %header#rhdocs-header.rhdocs__header
            -if hasPrimaryHeaderWrapper
              .rhdocs__header__primary-wrapper
                - if hasTitle
                  %h1=@header.title

                - if (attr :pantheondoctype)
                  .rhdocs-content-type
                    - if (attr :pantheondoctype) == "assembly"
                      Guide
                    - else
                      Topic

                -# Product metadata
                - if (attr? :pantheonproduct)
                  .rhdocs-products
                    %span.rhdocs-product-name=attr :pantheonproduct
                    - if (attr? :pantheonversion)
                      %span.rhdocs-product-version=attr :pantheonversion


            - if hasHeaderMetadata
              -# Wrapper for Metadata
              %ul.rhdocs__header__secondary-wrapper
                -# Author list, commented out for now, doesn't appear in this part of the mockup
                -# - if (attr? :author)
                -#   %li.rhdocs-details-item
                -#     %dl.rhdocs-author-details
                -#       %dt#rhdocs-author.author=attr :author
                -#       - if attr? :email
                -#         %dd#rhdocs-email.email=sub_macros(attr :email)
                -#       - if (authorcount = (attr :authorcount).to_i) > 1
                -#         - (2..authorcount).each do |idx|
                -#           %dd{:id=>"author#{idx}", :class=>"author"}=(attr "author_#{idx}")
                -#           - if attr? "email_#{idx}"
                -#             %dd{:id=>"email#{idx}", :class=>"email"}= sub_macros(attr "email_#{idx}")

                -# Last Updated metadata
                - if (attr? :pantheonupdateddate)
                  %li.rh-docs-details-item.rhdocs-updated-date Updated #{attr :pantheonupdateddate}
                -# Published Date metadata
                - if (attr? :pantheonpublisheddate)
                  %li.rh-docs-details-item.rhdocs-published-date Published #{attr :pantheonpublisheddate}

      - if (attr? :toc) && (attr? 'toc-placement', 'auto')
        %nav#rhdocs-toc.rhdocs-toc{:class=>(attr 'toc-class', 'toc'), :aria => {:label => (attr 'toc-title')}}
          %h2#rhdocs-toctitle.rhdocs-toctitle=attr 'toc-title'
          =converter.convert self, 'outline'

      %article#rhdocs-content.rhdocs-content
        =content
        - unless !footnotes? || attr?(:nofootnotes)
          #rhdocs-footnotes.rhdocs-footnotes{:aria => {:label => 'Footnotes'}}
            - if footnotes?
              %h2#rhdocs-footnotes.visually-hidden Footnotes
              %ol{:aria => {:labelledby => 'rhdocs-footnotes'}}
                - footnotes.each do |fn|
                  %li.footnote{:id=>['_footnote', fn.index]}
                    =(fn.text)
                    %a(href="#_footnoteref_#{fn.index}"){:title => 'Back to content', :aria => {:label => 'Back to content'}}='&#8617;'
        %div(class="rh-docs-legal-notice")
          %a(href="https://access.redhat.com/docs-legal-notice" class="rh-docs-legal-notice__link")Legal Notices for Trademarks

      - unless nofooter
        %footer#rhdocs-footer.rhdocs-footer
          #rhdocs-footer-text.rhdocs-footer-text
            - if attr? :revnumber
              = precede %(#{attr 'version-label'} #{attr :revnumber}) do
                - if attr? 'last-update-label'
                  %br
            - if attr? 'last-update-label'
              #{attr 'last-update-label'} #{attr :localdatetime}
          - unless (docinfo_content = (docinfo :footer)).empty?
            =docinfo_content
